<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="../qworld/include/mathjax_macro.js"></script>

<script> qworld_header("Grondbeginselen van kwantum systememen");  </script>

<p align="right" style="font-family:monospace;"><i>prepared by <a href='http://abu.lu.lv' target="_blank">Abuzer Yakaryilmaz<a/> (<a href="http://qworld.lu.lv/index.php/qlatvia/" target="_blank">QLatvia</a>)</i></p>
<hr>


<script> start_div();  </script>
Indien $ x = \frac{1}{2} $, welke van de volgende vectoren kan een geldige kwantum staat zijn? 
<br><br>
<script> 
	print_answer(0,"$ \\myvector{x} $");
	print_answer(0,"$ \\myvector{x \\\\ x } $");
	print_answer(0,"$ \\myvector{x \\\\ x \\\\ x} $");
	print_answer(1,"$ \\myvector{x \\\\ x \\\\ x \\\\ x } $");
	print_answer(0,"$ \\myvector{x \\\\ x \\\\ x \\\\ x \\\\ x } $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
Indien $ \ket{u} = \myvector{ \frac{1}{2} \\ x \\ y} \in \mathbb{R}^3 $  een kwantum staat is, welke van de volgende vergelijkingen kan dan niet mogelijk zijn? 
<br><br>
<script> 
	print_answer(0,"$x+y = \\frac{1}{2} $");
	print_answer(0,"$x+y = \\frac{3}{4} $");
	print_answer(0,"$x-y=0$");
	print_answer(1,"$x^2+y^2 = \\frac{1}{2} $");
	print_answer(0,"$x^2+y^2 = \\frac{3}{4} $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
We hebben een drie statussen kwanutum systeem. Als het systeem in de kwantum staat $ \ket{u} = \myvector{ \frac{1}{3}-\frac{1}{\sqrt{3}} \\ \frac{1}{3}+\frac{1}{\sqrt{3}} \\ x } \in \mathbb{R}^3 $ is, wat is dan de waarschijnlijkheid van de derde status? 
<br><br>
<script> 
	print_answer(1,"$ \\frac{1}{9} $");
	print_answer(0,"$ \\frac{1}{8} $");
	print_answer(0,"$ \\frac{1}{6} $");
	print_answer(0,"$ \\frac{1}{3} $");
	print_answer(0,"$ \\frac{1}{2} $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
Indien $ \ket{u} \in \mathbb{R}^2 $ een kwantum staat is op de eenheidscirkel met draaiingshoek  $ \frac{2\pi}{3} $, wat is dan $ \ket{u} $? 
<br><br>
<script> 
	print_answer(0,"$ \\myrvector{ \\frac{1}{2} \\\\ \\frac{\\sqrt{3}}{2} } $");
	print_answer(1,"$ \\myrvector{ -\\frac{1}{2} \\\\ \\frac{\\sqrt{3}}{2} } $");
	print_answer(0,"$ \\myrvector{ \\frac{\\sqrt{3}}{2} \\\\ \\frac{1}{2} } $");
	print_answer(0,"$ \\myrvector{ -\\frac{\\sqrt{3}}{2} \\\\ \\frac{1}{2} } $");
	print_answer(0,"$ \\myrvector{ -\\frac{\\sqrt{3}}{2} \\\\ -\\frac{1}{2} } $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
Wat is $ H^4 $, waarbij $ H $  de Hadamard operator is? 
<br><br>
<script> 
	print_answer(0,"$ \\hadamard $");
	print_answer(0,"$ \\mymatrix{rr}{ \\onehalf & \\onehalf \\\\ \\onehalf & -\\onehalf } $");
	print_answer(1,"$ \\I $");
	print_answer(0,"$ \\X $");
	print_answer(0,"$ \\Z $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
Wat is $ H^7 $?
<br><br>
<script> 
	print_answer(1,"$ \\hadamard $");
	print_answer(0,"$ \\mymatrix{rr}{ \\onehalf & \\onehalf \\\\ \\onehalf & -\\onehalf } $");
	print_answer(0,"$ \\I $");
	print_answer(0,"$ \\X $");
	print_answer(0,"$ \\Z $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
We hebben een qubit in basistoestand $ \ket{0} $. We passen de operatoren $ H, X, X, H, X $ toe in de gegeven volgorde, waarbij $ X $ de NOT operator is.  Wat is de resulterende status? 
<br><br>
<script> 
	print_answer(0,"$ \\ket{0} $");
	print_answer(1,"$ \\ket{1} $");
	print_answer(0,"$ -\\ket{0} $");
	print_answer(0,"$ -\\ket{1} $");
	print_answer(0,"$ \\stateplusket $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
We hebben een qubit in basistoestand $ \ket{0} $. We passen de operatoren $ X, H, X, H, X $ toe in de gegeven volgorde. Wat is de resulterende status? 
<br><br>
<script> 
	print_answer(0,"$ \\ket{0} $");
	print_answer(0,"$ \\ket{1} $");
	print_answer(1,"$ -\\ket{0} $");
	print_answer(0,"$ -\\ket{1} $");
	print_answer(0,"$ \\stateminusket $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
We voeren een reeks kwantum operatoren uit op een enkele qubit die begint in in de basistoestand $ \ket{0} $ .
<br><br>
Indien we aan het einde van de reeks de status $ 0 $ observeren, welke van de volgende combinaties is dan niet mogelijk, waarbij $ M $ staat voor meting en we de operatoren toepassen van links naar rechts? 
 <br><br>
<script> 
	print_answer(0,"$ H,H,M $");
	print_answer(0,"$ X, X, M $");
	print_answer(0,"$ M, X, M , X , M $");
	print_answer(0,"$ H, X, H , M $");
	print_answer(1,"$ X , H , X , H , M $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
We hebben vijf qubits, stel $ q_0,\ldots,q_4 $ initieel in de basistoestanden $ \ket{0} $ . We passen de  $X$ operator toe op  $ q_0 $ en $ q_4 $.  Op de resterende qubits passen we ofwel de identiteits operator toe of de   $ X $ operator. Na het uitvoeren van een resulktaatmeting lezen we de  respectievelijke waardes van  de qubits  $ q_0,\ldots,q_4 $ as $ b_0,\ldots,b_4 $, uit.
<br><br>
Indien $ b = b_4 \cdots b_0 $ een binair nummer is, welke van de volgende decimale getallen kan dan geen waarde zijn van $ b $? 
<br><br>
<script> 
	print_answer(1,"$ 13 $");
	print_answer(0,"$ 17 $");
	print_answer(0,"$ 23 $");
	print_answer(0,"$ 25 $");
	print_answer(0,"$ 31 $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
Hadamard operator $ H = \mymatrix{rr}{ \sqrttwo & \sqrttwo \\ \sqrttwo & -\sqrttwo } $ is een kwantum operator welke geen invloed heeft op de lengte van willekeurig welke vector. Welke van de volgende operatoren is geen kwantum operator? (Hint: Test iedere matrix met een aantal kwantum vectoren, bijv.  $ \ket{0} $, $ \ket{1} $, $ \ket{+} $, $ \ket{-} $, etc.)  </i>
<br><br>
<script> 
	print_answer(0,"$ \\mymatrix{rr}{ \\sqrttwo & \\sqrttwo \\\\ -\\sqrttwo & \\sqrttwo } $");
	print_answer(0,"$ \\mymatrix{rr}{ \\sqrttwo & -\\sqrttwo \\\\ \\sqrttwo & \\sqrttwo } $");
	print_answer(0,"$ \\mymatrix{rr}{ -\\sqrttwo & \\sqrttwo \\\\ \\sqrttwo & \\sqrttwo } $");
	print_answer(1,"$ \\mymatrix{rr}{ -\\sqrttwo & -\\sqrttwo \\\\ \\sqrttwo & \\sqrttwo } $");
	print_answer(0,"$ \\mymatrix{rr}{ -\\sqrttwo & -\\sqrttwo \\\\ -\\sqrttwo & \\sqrttwo } $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
Wat is $ XH $? </i>
<br><br>
<script> 
	print_answer(0,"$ \\mymatrix{rr}{ \\sqrttwo & \\sqrttwo \\\\ -\\sqrttwo & \\sqrttwo } $");
	print_answer(1,"$ \\mymatrix{rr}{ \\sqrttwo & -\\sqrttwo \\\\ \\sqrttwo & \\sqrttwo } $");
	print_answer(0,"$ \\mymatrix{rr}{ -\\sqrttwo & \\sqrttwo \\\\ \\sqrttwo & \\sqrttwo } $");
	print_answer(0,"$ \\mymatrix{rr}{ -\\sqrttwo & -\\sqrttwo \\\\ \\sqrttwo & \\sqrttwo } $");
	print_answer(0,"$ \\mymatrix{rr}{ -\\sqrttwo & -\\sqrttwo \\\\ -\\sqrttwo & \\sqrttwo } $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
Wat is $ (XH)^2\ket{0} $? 
<br><br>
<script> 
	print_answer(0,"$ \\ket{0} $");
	print_answer(0,"$ \\ket{+} $");
	print_answer(1,"$ \\ket{1} $");
	print_answer(0,"$ \\ket{-} $");
	print_answer(0,"$ -\\ket{0} $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
Wat is $ (XH)^3\ket{0} $? 
<br><br>
<script> 
	print_answer(0,"$ \\ket{+} $");
	print_answer(0,"$ -\\ket{+} $");
	print_answer(0,"$ \\ket{1} $");
	print_answer(0,"$ \\ket{-} $");
	print_answer(1,"$ -\\ket{-} $");
	print_check_now();
	end_div();
</script>
<br>



<script> start_div();  </script>
Wat is $ (XH)^5\ket{0} $? 
<br><br>
<script> 
	print_answer(0,"$ \\ket{+} $");
	print_answer(1,"$ -\\ket{+} $");
	print_answer(0,"$ \\ket{1} $");
	print_answer(0,"$ \\ket{-} $");
	print_answer(0,"$ -\\ket{-} $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
Wat is $ (XH)^8\ket{0} $? 
<br><br>
<script> 
	print_answer(1,"$ \\ket{0} $");
	print_answer(0,"$ \\ket{+} $");
	print_answer(0,"$ \\ket{1} $");
	print_answer(0,"$ \\ket{-} $");
	print_answer(0,"$ -\\ket{0} $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
Indien een qubit in de kwantum status $ \ket{u} = \myrvector{\frac{3}{5} \\ -\frac{4}{5}} $ is ,  wordt de Hadamard operator toegepast: $ \ket{u'} = H \ket{u} $.  Wat is dan de kans op status $ \ket{1} $ in de nieuwe kwantum status $ \ket{u'} $? 
<br><br>
<script> 
	print_answer(0,"$ 0.02 $");
	print_answer(0,"$ 0.36 $");
	print_answer(0,"$ 0.50 $");
	print_answer(0,"$ 0.64 $");
	print_answer(1,"$ 0.98 $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
Indien $ \ket{u} = \myvector{x \\ 3x} $ de kwantum status is van een qubit, wat is dan de kans dat het in status $ \ket{0} $ is? 
<br><br>
<script> 
	print_answer(1,"$ 0.1 $");
	print_answer(0,"$ 0.25 $");
	print_answer(0,"$ 0.50 $");
	print_answer(0,"$ 0.75 $");
	print_answer(0,"$ 0.9 $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
Indien $ \ket{u} = \myrvector{x \\ -2x \\ 2x \\ -x } $ de kwantum status is van een kwantum systeem met vier statussen, wat is dan de kans dat de status amplitude $ -2x $ heeft? 
<br><br>
<script> 
	print_answer(0,"$ 0 $");
	print_answer(0,"$ 0.2 $");
	print_answer(1,"$ 0.4 $");
	print_answer(0,"$ 0.6 $");
	print_answer(0,"$ 0.8 $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
We hebben een kubit en we hebben een teller met de waarde 0. 
<br><br>
Herhaal 20 keer: 
<ul>
<li> Initializeer de qubit in status $ \ket{0} $.
<li> Pas de Hadamard operator toe.
<li> Meet het resultaat.
	<ul><li>Indien status '0' is gemeten is: vergroot de waarde van de teller met twee en ga door met de volgende iteratie.</ul>
<li> Pas de Hadamard operator toe.
<li> Meet het resultaat.
	<ul><li>Indien status '1'  gemeten is: verklein de waarde van de teller met twee en ga door met de volgende iteratie.</ul> 
<li> Pas de Hadamard operator toe.
<li> Meet het resultaat.
	<ul>
		<li>Indien status '0' gemeten is: verklein de waarde van de teller met 1
		<li>Indien status '1' gemeten is: verklein de waarde van de teller met 3
	</ul>
</ul>
Wat is de verwachte uitkomst van de teller aan het einde van alle iteraties ? 
<br><br>
<script> 
	print_answer(0,"$ -10 $");
	print_answer(0,"$ -5 $");
	print_answer(0,"$ 0 $");
	print_answer(1,"$ 5 $");
	print_answer(0,"$ 10 $");
	print_check_now();
	end_div();
</script>
<br>






<script>
	print_check_all(); 
	inialize_user_answers()
</script>

